.board{
  display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  place-content: center;
}

.game{
  width: 100vw;
  display: grid;
  place-content: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
}

.circle.beaten{
  background-color: #f2f2f2;
}

.circle.canMove{
  background-color: #000;
}

.cell{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  user-select: none;
  transition: text-shadow 0.3s;
}
.cell.selectedColor{
  cursor: pointer;
  text-shadow: 0 0 10px #888;
}
.cell.beaten{
  text-shadow: 0 0 10px red;
}

.cell.canMove{
  background-color: #000;
}

